#logo {
    width: 100%;
    height: 100%;
    background-image: url(img/logo.png);
    background-size: 15%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
}

#succes {
    width: 100%;
    height: 40%;
    background-image: url(img/succes.png);
    background-size: 15%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
}

#mic {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-image: url(img/microphone.png);
    display: none;
}